@model VehicleAccounting.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверенны что хотите удалить эту запись?</h3>
<div>
    <h4>Заказчик</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerPhone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">На главную</a>
    </form>
</div>
